@keyframes glitch {
  0% {
    clip: rect(44px, 9999px, 98px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 86px, 0);
  }
  20% {
    clip: rect(44px, 9999px, 18px, 0);
  }
  30% {
    clip: rect(49px, 9999px, 9px, 0);
  }
  40% {
    clip: rect(35px, 9999px, 32px, 0);
  }
  50% {
    clip: rect(10px, 9999px, 51px, 0);
  }
  60% {
    clip: rect(68px, 9999px, 76px, 0);
  }
  70% {
    clip: rect(66px, 9999px, 47px, 0);
  }
  80% {
    clip: rect(37px, 9999px, 10px, 0);
  }
  90% {
    clip: rect(19px, 9999px, 31px, 0);
  }
  100% {
    clip: rect(28px, 9999px, 31px, 0);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bouncing-component {
  animation: bounceWithShake 1s ease infinite;
}

@keyframes bounceWithShake {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-10px);
  }

  70% {
    transform: translateY(-5px);
  }
}

/* CircularGradientAnimation.css */
.circular-gradient-animation {
  background: linear-gradient(black 0%, white 100%);
  animation: rotate 3s linear infinite;
  animation-timing-function: ease-in-out;
}

@keyframes rotate {
  from {
    background: linear-gradient(to right bottom, black, rgb(74, 70, 70));
  }
  to {
    background: linear-gradient(to left top, rgb(122, 119, 119), black);
  }
}

.dimension-line {
  position: relative;
  margin-bottom: 20px;
}

.dimension-line::before,
.dimension-line::after {
  content: "";
  position: absolute;
  background-color: #333;
  height: 2px;
  width: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.dimension-line::before {
  left: 0;
}

.dimension-line::after {
  right: 0;
}

.dimension-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: black; /* Set the color of the scrollbar handle */
  border-radius: 6px; /* Set the border-radius to make it rounded */
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the color of the scrollbar track */
}
